*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     /* อ้างอิงตามขนาดค่าจริงที่กำหนด คือ รวมเส้นขอบ padding*/
}
header{
    background: #333;
    color: #fff;
    height: 50vh;
    width: 100vw;
    text-align: center;
    padding: 2rem;
    padding: 15rem;
}

header h1{
    font-size: 3rem;
}

header p{
    margin:1rem;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background-color: #f4f4f4;
    color: #333;
    padding: 0.75rem 2rem;
}